.mainContainer{
    border: 1px red solid;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.topContainer{
    border: 1px red solid;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 2;
}

.centerContainer{
    border: 1px red solid;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 7;
}

.bottomContainer{
    border: 1px red solid;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
}

.deviceContainer{
    border: 1px red solid;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 16px;
}

.actions{
    border: 1px red solid;
}

.configs{
    border: 1px red solid;
}

.events{
    border: 1px red solid;
}