extends layout.pug

block title
    | Dashboard

block subheader
    //- .kt-subheader__toolbar   
    //-     span.kt-widget4__number.kt-font-info.kt-font-bold 
    //-         | Timeleft:  60:00          
    .kt-subheader__toolbar                    
        .kt-subheader__wrapper      
            button.btn.btn-success.btn-sm(type="button" onclick=`NewGame()`) New Game


block scripts 
    script(defer src="Dashboard.js")    

block content 
    // PROGRESS
    .kt-portlet
        .kt-portlet__body.kt-portlet__body--fit
            .row.row-no-padding.row-col-separator-lg
                .col-md-12.col-lg-6.col-xl-6
                    // begin::New Feedbacks
                    .kt-widget24
                        .kt-widget24__details
                            .kt-widget24__info
                                h4.kt-widget24__title
                                    | Names
                                span.kt-widget24__desc
                                    | List with names
                            //- span.kt-widget24__stats.kt-font-warning
                            //-     | Johannes
                        .progress.progress--sm
                            #progress_names.progress-bar.kt-bg-warning(role="progressbar" style="width: 84%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100")
                        .kt-widget24__action
                            span.kt-widget24__change
                                | Progress
                            span#progress_names_text.kt-widget24__number
                                | 84%
                    // end::New Feedbacks
                .col-md-12.col-lg-6.col-xl-6
                    // begin::New Orders
                    .kt-widget24
                        .kt-widget24__details
                            .kt-widget24__info
                                h4.kt-widget24__title
                                    | Knocker
                                span.kt-widget24__desc
                                    | Knock Puzzle
                            //- span.kt-widget24__stats.kt-font-danger
                            //-     | 2nd Light
                        .progress.progress--sm
                            #progress_knocker.progress-bar.kt-bg-danger(role="progressbar" style="width: 69%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100")
                        .kt-widget24__action
                            span.kt-widget24__change
                                | Progress
                            span#progress_knocker_text.kt-widget24__number
                                | 69%
                    // end::New Orders
                //- .col-md-12.col-lg-6.col-xl-3
                //-     // begin::New Users
                //-     .kt-widget24
                //-         .kt-widget24__details
                //-             .kt-widget24__info
                //-                 h4.kt-widget24__title
                //-                     | World
                //-                 span.kt-widget24__desc
                //-                     | Map of the world
                //-             span.kt-widget24__stats.kt-font-success
                //-                 | Africa
                //-         .progress.progress--sm
                //-             #progress_world.progress-bar.kt-bg-success(role="progressbar" style="width: 90%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100")
                //-         .kt-widget24__action
                //-             span.kt-widget24__change
                //-                 | Progress
                //-             span#progress_world_text.kt-widget24__number
                //-                 | 90%
                //-     // end::New Users
    //ROW
    .row
        //NAMES
        .col-xl-4 
            .kt-portlet.kt-portlet--tabs.kt-portlet--height-fluid
                .kt-portlet__head
                    .kt-portlet__head-label
                        h3.kt-portlet__head-title
                            | Names
                    .kt-portlet__head-toolbar
                        ul.nav.nav-tabs.nav-tabs-line.nav-tabs-bold.nav-tabs-line-brand(role="tablist")                            
                            li.nav-item
                                a.nav-link.active(data-toggle="tab" href="#kt_names_tab2_content" role="tab")
                                    | Actions
                .kt-portlet__body
                    .tab-content
                        #kt_names_tab2_content.tab-pane.active
                            .kt-widget4
                                .kt-widget4__item
                                    .kt-widget4__pic.kt-widget4__pic--pic
                                        h1.flaticon-refresh.kt-font-brand
                                    .kt-widget4__info
                                        p.kt-widget4__username(href="#")
                                            | Overview
                                        p.kt-widget4__text
                                            | Turn Off Leds
                                    button.btn.btn-outline-hover-danger.btn-icon(type="button" onclick=`ExecuteAction("Names","TurnOffLeds","0")`)
                                        i.flaticon-star
                                .kt-widget4__item
                                    .kt-widget4__pic.kt-widget4__pic--pic
                                        h1#names_icon_0.flaticon-refresh.kt-font-brand
                                    .kt-widget4__info
                                        p.kt-widget4__username(href="#")
                                            | Lodeweijck Pieters
                                        p.kt-widget4__text
                                            | Gravestone
                                    button.btn.btn-outline-hover-info.btn-icon(type="button" onclick=`ExecuteAction("AudioPlayer","PlayAudio","2")`)
                                        i.flaticon2-exclamation
                                    button.btn.btn-outline-hover-success.btn-icon(type="button" onclick=`ExecuteAction("Names","ShowName","0")`)
                                        i.flaticon2-accept
                                .kt-widget4__item
                                    .kt-widget4__pic.kt-widget4__pic--pic
                                        h1#names_icon_1.flaticon-refresh.kt-font-brand
                                    .kt-widget4__info
                                        p.kt-widget4__username(href="#")
                                            | Hendrik van den Bosch
                                        p.kt-widget4__text
                                            | Worldmap
                                    button.btn.btn-outline-hover-info.btn-icon(type="button" onclick=`ExecuteAction("AudioPlayer","PlayAudio","3")`)
                                        i.flaticon2-exclamation
                                    button.btn.btn-outline-hover-success.btn-icon(type="button" onclick=`ExecuteAction("Names","ShowName","1")`)
                                        i.flaticon2-accept
                                .kt-widget4__item
                                    .kt-widget4__pic.kt-widget4__pic--pic
                                        h1#names_icon_2.flaticon-refresh.kt-font-brand
                                    .kt-widget4__info
                                        p.kt-widget4__username(href="#")
                                            | Catharina van den Bosch
                                        p.kt-widget4__text
                                            | Bible
                                    button.btn.btn-outline-hover-info.btn-icon(type="button" onclick=`ExecuteAction("AudioPlayer","PlayAudio","4")`)
                                        i.flaticon2-exclamation
                                    button.btn.btn-outline-hover-success.btn-icon(type="button" onclick=`ExecuteAction("Names","ShowName","2")`)
                                        i.flaticon2-accept
                                .kt-widget4__item
                                    .kt-widget4__pic.kt-widget4__pic--pic
                                        h1#names_icon_3.flaticon-refresh.kt-font-brand
                                    .kt-widget4__info
                                        p.kt-widget4__username(href="#")
                                            | Rudolf Verhagen
                                        p.kt-widget4__text
                                            | Scale
                                    button.btn.btn-outline-hover-info.btn-icon(type="button" onclick=`ExecuteAction("AudioPlayer","PlayAudio","5")`)
                                        i.flaticon2-exclamation
                                    button.btn.btn-outline-hover-success.btn-icon(type="button" onclick=`ExecuteAction("Names","ShowName","3")`)
                                        i.flaticon2-accept
                                .kt-widget4__item
                                    .kt-widget4__pic.kt-widget4__pic--pic
                                        h1#names_icon_4.flaticon-refresh.kt-font-brand
                                    .kt-widget4__info
                                        p.kt-widget4__username(href="#")
                                            | Bernard Willemsen
                                        p.kt-widget4__text
                                            | Maria
                                    button.btn.btn-outline-hover-info.btn-icon(type="button" onclick=`ExecuteAction("AudioPlayer","PlayAudio","6")`)
                                        i.flaticon2-exclamation
                                    button.btn.btn-outline-hover-success.btn-icon(type="button" onclick=`ExecuteAction("Names","ShowName","4")`)
                                        i.flaticon2-accept
                                .kt-widget4__item
                                    .kt-widget4__pic.kt-widget4__pic--pic
                                        h1#names_icon_5.flaticon-refresh.kt-font-brand
                                    .kt-widget4__info
                                        p.kt-widget4__username(href="#")
                                            | Cornelia Rouwenhorst
                                        p.kt-widget4__text
                                            | Piano
                                    button.btn.btn-outline-hover-info.btn-icon(type="button" onclick=`ExecuteAction("AudioPlayer","PlayAudio","7")`)
                                        i.flaticon2-exclamation
                                    button.btn.btn-outline-hover-success.btn-icon(type="button" onclick=`ExecuteAction("Names","ShowName","5")`)
                                        i.flaticon2-accept
                                .kt-widget4__item
                                    .kt-widget4__pic.kt-widget4__pic--pic
                                        h1#names_icon_6.flaticon-refresh.kt-font-brand
                                    .kt-widget4__info
                                        p.kt-widget4__username(href="#")
                                            | Johannes Adriaansen
                                        p.kt-widget4__text
                                            | Church
                                    button.btn.btn-outline-hover-info.btn-icon(type="button" onclick=`ExecuteAction("AudioPlayer","PlayAudio","1")`)
                                        i.flaticon2-exclamation
                                    button.btn.btn-outline-hover-success.btn-icon(type="button" onclick=`ExecuteAction("Names","ShowName","6")`)
                                        i.flaticon2-accept
        //KNOCKER
        .col-xl-4 
            .kt-portlet.kt-portlet--tabs.kt-portlet--height-fluid
                .kt-portlet__head
                    .kt-portlet__head-label
                        h3.kt-portlet__head-title
                            | Knocker
                    .kt-portlet__head-toolbar
                        ul.nav.nav-tabs.nav-tabs-line.nav-tabs-bold.nav-tabs-line-brand(role="tablist")
                            li.nav-item
                                a.nav-link.active(data-toggle="tab" href="#kt_knocker_tab2_content" role="tab")
                                    | Actions
                .kt-portlet__body
                    .tab-content                             
                        #kt_knocker_tab2_content.tab-pane.active
                            .kt-widget4
                                .kt-widget4__item
                                    .kt-widget4__pic.kt-widget4__pic--pic
                                        h1.flaticon-refresh.kt-font-brand
                                    .kt-widget4__info
                                        p.kt-widget4__username(href="#")
                                            | Overview
                                        p.kt-widget4__text
                                            | Reset Knocker
                                    button.btn.btn-outline-hover-danger.btn-icon(type="button" onclick='ExecuteAction("Knocker","Reset", null)')
                                        i.flaticon-star                                    
                                .kt-widget4__item
                                    .kt-widget4__pic.kt-widget4__pic--pic
                                        h1#knocker_icon_1.flaticon-refresh.kt-font-brand
                                    .kt-widget4__info
                                        p.kt-widget4__username(href="#")
                                            | Light #1
                                        p.kt-widget4__text
                                            | Symbol of murderer: 3                                     
                                    button.btn.btn-outline-hover-success.btn-icon(type="button" onclick='ExecuteAction("Knocker","TurnOnLight", "1"); setIcon("knocker", "0", "completed")')
                                        i.flaticon2-accept
                                .kt-widget4__item
                                    .kt-widget4__pic.kt-widget4__pic--pic
                                        h1#knocker_icon_2.flaticon-refresh.kt-font-brand
                                    .kt-widget4__info
                                        p.kt-widget4__username(href="#")
                                            | Light #2
                                        p.kt-widget4__text
                                            | Date of death: 5                                    
                                    button.btn.btn-outline-hover-success.btn-icon(type="button" onclick='ExecuteAction("Knocker","TurnOnLight", "2"); setIcon("knocker", "1", "completed")')
                                        i.flaticon2-accept
                                .kt-widget4__item
                                    .kt-widget4__pic.kt-widget4__pic--pic
                                        h1#knocker_icon_3.flaticon-refresh.kt-font-brand
                                    .kt-widget4__info
                                        p.kt-widget4__username(href="#")
                                            | Light #3
                                        p.kt-widget4__text
                                            | Audio: - - . . .                                     
                                    button.btn.btn-outline-hover-success.btn-icon(type="button" onclick='ExecuteAction("Knocker","TurnOnLight", "3"); setIcon("knocker", "2", "completed")')
                                        i.flaticon2-accept
                                .kt-widget4__item
                                    .kt-widget4__pic.kt-widget4__pic--pic
                                        h1.flaticon-refresh.kt-font-brand
                                    .kt-widget4__info
                                        p.kt-widget4__username(href="#")
                                            | Drawer
                                        p.kt-widget4__text
                                            | Open last panel:                                     
                                    button.btn.btn-outline-hover-success.btn-icon(type="button" onclick='ExecuteAction("AudioPlayer","OpenDrawer", "null")')
                                        i.flaticon2-accept
        .col-xl-4 
            .kt-portlet.kt-portlet--tabs.kt-portlet--height-fluid
                .kt-portlet__head
                    .kt-portlet__head-label
                        h3.kt-portlet__head-title
                            | Coins
                    .kt-portlet__head-toolbar
                        ul.nav.nav-tabs.nav-tabs-line.nav-tabs-bold.nav-tabs-line-brand(role="tablist")
                            li.nav-item
                                a.nav-link.active(data-toggle="tab" href="#kt_coins_tab2_content" role="tab")
                                    | Actions
                .kt-portlet__body
                    .tab-content                             
                        #kt_coins_tab2_content.tab-pane.active
                            .kt-widget4
                                .kt-widget4__item
                                    .kt-widget4__pic.kt-widget4__pic--pic
                                        h1#knocker_icon_1.flaticon-refresh.kt-font-brand
                                    .kt-widget4__info
                                        p.kt-widget4__username(href="#")
                                            | Coin Servo
                                        p.kt-widget4__text
                                            | Open Servo if coin thing is stuck with other coin                                
                                    button.btn.btn-outline-hover-success.btn-icon(type="button" onclick='ExecuteAction("Coins","Toggle", "null");')
                                        i.flaticon2-accept                                   
                                                           
        //- //WORLDMAP
        //- .col-xl-4 
        //-     // begin:: Widgets/New Users
        //-     .kt-portlet.kt-portlet--tabs.kt-portlet--height-fluid
        //-         .kt-portlet__head
        //-             .kt-portlet__head-label
        //-                 h3.kt-portlet__head-title
        //-                     | Worldmap
        //-             .kt-portlet__head-toolbar
        //-                 ul.nav.nav-tabs.nav-tabs-line.nav-tabs-bold.nav-tabs-line-brand(role="tablist")
        //-                     li.nav-item
        //-                         a.nav-link.active(data-toggle="tab" href="#kt_world_tab1_content" role="tab")
        //-                             | Status
        //-                     li.nav-item
        //-                         a.nav-link(data-toggle="tab" href="#kt_world_tab2_content" role="tab")
        //-                             | Actions
        //-         .kt-portlet__body
        //-             .tab-content
        //-                 #kt_world_tab1_content.tab-pane.active
        //-                     h3
        //-                         | Coming soon                          
        //-                 #kt_world_tab2_content.tab-pane
        //-                     h3
        //-                         | Coming soon              